<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
      <!-- SLICE -->

      <!--
      <title v-if="meta.title">{{ meta.title }} | {{ config.site.title }}</title>
      <meta v-if="meta.description" name="description" :content="meta.description" />
      <meta v-if="meta.image" name="image" :content="meta.image | resizeImage('640')" />
      <link v-if="meta.slug" :href="config.site.domain + meta.slug" rel="canonical" />


      <meta v-if="config.site.title" property="og:site_name" :content="config.site.title" />
      <meta v-if="meta.slug" property="og:url" :content="config.site.domain + meta.slug" />
      <meta v-if="meta.title" property="og:title" :content="meta.title + ' | ' + config.site.title" />
      <meta v-if="meta.description" property="og:description" :content="meta.description" />
      <meta v-if="meta.image" property="og:image" :content="meta.image | resizeImage('640')" />
      <meta v-if="meta.image" property="og:image:secure_url" :content="meta.image | resizeImage('640')" />
      <meta v-if="meta.type" property="og:type" :content="meta.type" />


      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css" />
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      END -->

    </head>
    <body>
      <!-- SLICE -->
    </body>
  </html>
